.profile{
    img{
        border-radius: 100%;
        width: 7.5em;
    }
    h4{
        text-align: center;
    }
    .nameTag{
        color: white;
        font-size: 1.75em;
        text-align: center;
        font-weight: bold;
    }
    .money{
        color: var(--red);
        font-size: 3em;
        font-weight: bold;
        text-align: center;
    }
}